<div class="container-show">
    <div style="text-align:center">
        <h1 class="post-create-header">Post Information</h1>
    </div>
    <div class="row">
        <div class="column">
            <img class="img-thumbnail" style="height: 500px; width:100%;" src="{{pl.post.path}}" data-holder-rendered="true">
        </div>
        <div class="column">
            <div class="container">
                <h2><span class="label label-default">Title</span>: {{pl.post.title}}</h2>
                <br>
                <h2><span class="label label-default">Info</span>: {{pl.post.info}}</h2>
                <br>
                <h2><span class="label label-default">Tag</span>: <i>{{pl.post.tag}}</i></h2>
              </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-outline-secondary" value='Delete Post' title="Delete Post" ng-click="pl.remove(pl.post.idPosts)">Delete</button>
            <button class="btn btn-sm btn-outline-secondary" value='Edit Post' title="Edit Post" ng-click="pl.callforEdit()">Edit</button>
        </div>
    </div>
</div>