<div class="container-show" ng-show="!pl.enableEdit">
    <div style="text-align:center">
        <h1 class="post-create-header">Post Information</h1>
    </div>
    <div class="row">
        <div class="column">
            <img class="img-thumbnail" style="height: 500px; width:100%;" src="{{pl.post.path}}" data-holder-rendered="true">
        </div>
        <div class="column">
            <div class="container">
                <h2><span class="label label-default">Title</span>: {{pl.post.title}}</h2>
                <br>
                <h2><span class="label label-default">Info</span>: {{pl.post.info}}</h2>
                <br>
                <h2><span class="label label-default">Tag</span>: <i>{{pl.post.tag}}</i></h2>
              </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-outline-secondary" value='Delete Post' title="Delete Post" ng-click="pl.remove(pl.post.idPosts)">Delete</button>
            <button class="btn btn-sm btn-outline-secondary" value='Edit Post' title="Edit Post" ng-click="pl.callforEdit()">Edit</button>
        </div>
    </div>
</div>

<div class="container" ng-show="pl.enableEdit">
    <h1 class="post-create-header">Edit your Post</h1>
    <form name="editproduct">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title..." ng-model="pl.forEdit.title" required>
        <i ng-show="editPost.title.$error.required" style="color:red">*a title is required</i>
      </div>
      <div class="form-group">
        <label for="content">Description</label>
        <textarea class="form-control" id="content" name="content" placeholder="Description..." ng-model="pl.forEdit.info" required></textarea>
        <i ng-show="editPost.content.$error.required" style="color:red">*a desctription is required</i>
      </div>
      <div class="form-group">
        <label for="tags">Tags</label>
        <select class="form-control" ng-model="pl.forEdit.tag" required>
            <option value="car">#car</option>
            <option value="landscape">#landscape</option>
            <option value="flower">#flower</option>
            <option value="space">#space</option>
        </select>
      </div>
      <div class="container-button">
        <button class="btn btn-primary btn-md btn-block" type="submit" value="Edit" style="float:left;width:10%" ng-click="pl.editPost()">Edit</button>
        <button class="btn btn-primary btn-md btn-block" type="reset" value="Reset" style="float:right;width:10%" ng-click="pl.cancelEdit()">Cancel</button>
      </div>
    </form>
  </div>